GOOGLE_GENERATIVE_AI_API_KEY=your-api-key



# LANGFUSE_SECRET_KEY = "sk-lf-2f1f9bb2-c246-4e4f-8434-f652b4d00515"
# LANGFUSE_PUBLIC_KEY = "pk-lf-d58f0d2f-f01c-41f5-af3c-940667817cb1"
# LANGFUSE_BASE_URL = "https://cloud.langfuse.com"

# # langfuse otel config
# OTEL_EXPORTER_OTLP_ENDPOINT="https://cloud.langfuse.com/api/public/otel/v1/traces" # 🇪🇺 EU data region
# OTEL_EXPORTER_OTLP_HEADERS="Authorization=Basic auth_token"


# Opik otel configuration
OTEL_EXPORTER_OTLP_ENDPOINT=https://www.comet.com/opik/api/v1/private/otel/v1/traces
OTEL_EXPORTER_OTLP_HEADERS='Authorization=auth_token,Comet-Workspace=ent-buddy,projectName=mastra-automation'
